.footer-wrap {
  background-color: #3e6f22;
  overflow: hidden;
  padding-bottom: 100px;
}

.footer-border {
  background: url('https://content.jasongallagher.org/assets/ca68252a-2078-41ad-8801-0cef47444183.png/footer-tile.webp?format=webp') #000 top left repeat-x;
  height: 232px;
}

.contact {
  margin-top: $section-padding;
  color: #292929;
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $footer-links;
    text-decoration: none;
    transition: color 300ms;
  }
  a:hover {
    color: darken($footer-links, 15%);
  }
}

.contact-method {
  margin-bottom: 3px;
}

.about-this-site {
  margin-top: 30px;
}
.about-this-site-text {
  span {
    color: $footer-links;
    white-space: nowrap;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, lg)) {
  .contact-me,
  .about-this-site,
  .contact-form {
    margin-top: 45px;
  }
}


