@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi) {
  .main-header {
    @include backgroundImgFallback('#{$assets-url}/a9824768-3995-46a6-a3c8-5a5689778498/header-image');
    background-color: #3f7e37;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 725px;
    height: 725px;
  }
  //.main-nav {
  //  margin-top: 55px;
  //}
  .jg-logo {
    //max-width: 42px !important;
  }
  .title-tagline-wrapper {
    margin-top: 130px;
    h1 {
      margin-bottom: 26px;
    }
  }
  .button-wrapper {
    margin-top: 120px;
  }

  //.sticky-nav a {
  //  font-size: 1.1rem;
  //}

  // about
  img.who-i-am,
  img.what-i-do,
  img.where-i-am {
    height: 115px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  html {
    // font-size: 15px;
  }
  p {
    // font-size: 1.2rem;
  }
}




